#!/bin/bash

# Copy this file to config.sh and edit the values to match your configuration
# `cp config.sh.example config.sh`

# Define the users in the format "username:password:ssh_public_key"
declare -A USERS
USERS[0]="username1:password1:ssh-rsa AAA... user1@example.com"
USERS[1]="username2:password2:ssh-rsa AAA... user2@example.com"

# Define a groupname for the users
GROUPNAME="mygroup"

# Define allowed ports for UFW
UFW_PORTS=(
    "22/tcp"       # SSH
    # "80/tcp"       # HTTP
    # "443/tcp"      # HTTPS
    # Add other ports as needed
)

# Define rclone webdav
WEBDAV_REMOTE="webdav"
WEBDAV_URL="https://webdav.example.com"
WEBDAV_VENDOR="other"
WEBDAV_USER="username"
WEBDAV_PASS="password"

# Define borg backup
BORG_REPO="/path/to/repo"
BACKUP_SOURCE="/path/to/source"
BORG_PASSPHRASE="abc123"

# Define cron schedule
CRON_SCHEDULE="0 2 * * *" # Every day at 2am
