#!/bin/bash

# Copy this file to config.sh and edit the values to match your configuration
# `cp config.sh.example config.sh`

# Define the users in the format "username:password:Real Name"
declare -A USERS
USERS[0]="username1:password1:Real Name 1"
USERS[1]="username2:password2:Real Name 2"

# Define a groupname for the users
GROUPNAME="mygroup"
